<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC3SzLbcmLzHuuc_OJ9kj4-LjHmoTHQGvU</string>
	<key>GCM_SENDER_ID</key>
	<string>536312548303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firestoreEcommerceAdminpanel.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>firestore-uygulamalari</string>
	<key>STORAGE_BUCKET</key>
	<string>firestore-uygulamalari.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536312548303:ios:bffc778d424a67dca4a0ba</string>
</dict>
</plist>